# 資料讀取(excel.csv.html.sql)

In [2]:
import pandas as pd
df = pd.DataFrame([ ["a","b"], ["c","d"]], index=["row 1", "row 2"], columns=["col 1", "col 2"])
df.to_json(orient="split")

'{"columns":["col 1","col 2"],"index":["row 1","row 2"],"data":[["a","b"],["c","d"]]}'

In [4]:
pd.read_json(_, orient="split")   #"_"是一個佔位符，表示要讀取的 JSON 資料

      col 1 col 2
row 1     a     b
row 2     c     d

In [10]:
df.to_json(orient="index")

'{"row 1":{"col 1":"a","col 2":"b"},"row 2":{"col 1":"c","col 2":"d"}}'

In [11]:
pd.read_json(_, orient="index")

      col 1 col 2
row 1     a     b
row 2     c     d

In [12]:
df.to_json(orient="records")

'[{"col 1":"a","col 2":"b"},{"col 1":"c","col 2":"d"}]'

In [13]:
pd.read_json(_, orient="records")

  col 1 col 2
0     a     b
1     c     d

In [14]:
df.to_json(orient="table")

'{"schema":{"fields":[{"name":"index","type":"string"},{"name":"col 1","type":"string"},{"name":"col 2","type":"string"}],"primaryKey":["index"],"pandas_version":"1.4.0"},"data":[{"index":"row 1","col 1":"a","col 2":"b"},{"index":"row 2","col 1":"c","col 2":"d"}]}'

In [15]:
pd.read_json(_, orient="table")

      col 1 col 2
row 1     a     b
row 2     c     d